In [1]:
import pandas as pd

In [6]:
df = pd.read_table("three_genes_replicated.tsv", delim_whitespace=True, header=0)
df = df[df['species'].isin(['proteinX', 'proteinY', 'proteinZ'])]
df = df[['time', 'species', 'transcript']]
df['time'] = df['time'].round().astype(int)
df = df.pivot(index='time', columns='species', values='transcript')
df = df.fillna(0.0)

/home/sahil/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [7]:
df.tail()

species  proteinX  proteinY  proteinZ
time
236          24.0      39.0      39.0
237          24.0      39.0      39.0
238          23.0      40.0      39.0
239          24.0      40.0      39.0
240          24.0      41.0      39.0

In [8]:
df1 = pd.read_table("random_data.tsv", delim_whitespace=True, header=0)
df1 = df1[df1['species'].isin(['proteinX', 'proteinY', 'proteinZ'])]
df1 = df1[['time', 'species', 'transcript']]
df1 = df1.pivot(index='time', columns='species', values='transcript')
df1 = df1.fillna(0.0)

/home/sahil/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [9]:
df1.tail()

species  proteinX  proteinY  proteinZ
time
236         59.00      45.0      15.0
237         59.25      45.0      15.0
238         59.50      45.0      15.0
239         59.75      45.0      15.0
240         60.00      45.0      15.0

In [10]:
df_diff = df - df1

In [11]:
df_squared = df_diff ** 2

In [12]:
sum_df_squared = df_squared.sum()

In [13]:
sum_df_squared

species
proteinX    69228.50
proteinY    12699.75
proteinZ    72621.75
dtype: float64

In [14]:
sum_df_squared[0]

69228.5

In [15]:
sos = sum_df_squared[0] + sum_df_squared[1] + sum_df_squared[2]

In [16]:
sos

154550.0