In [3]:
import pandas as pd

In [4]:
df = pd.read_table("three_genes_replicated.tsv", delim_whitespace=True, header=0)
df = df[df['species'].isin(['proteinX', 'proteinY', 'proteinZ'])]
df = df[['time', 'species', 'transcript']]
df['time'] = df['time'].round().astype(int)
df = df.pivot(index='time', columns='species', values='transcript')
df = df.fillna(0.0)
df = df.iloc[:-1]

/home/wilkelab/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [5]:
df.tail()

species  proteinX  proteinY  proteinZ
time
235          42.0      42.0      45.0
236          43.0      42.0      43.0
237          43.0      42.0      43.0
238          44.0      42.0      43.0
239          44.0      44.0      42.0

In [6]:
df1 = pd.read_table("random_data.tsv", delim_whitespace=True, header=0)
df1 = df1[df1['species'].isin(['proteinX', 'proteinY', 'proteinZ'])]
df1 = df1[['time', 'species', 'transcript']]
df1 = df1.pivot(index='time', columns='species', values='transcript')
df1 = df1.fillna(0.0)

/home/wilkelab/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [7]:
df1.tail()

species  proteinX  proteinY  proteinZ
time
235         58.75      45.0      15.0
236         59.00      45.0      15.0
237         59.25      45.0      15.0
238         59.50      45.0      15.0
239         59.75      45.0      15.0

In [8]:
df_diff = df - df1

In [9]:
df_squared = df_diff ** 2

In [19]:
sum_df_squared = df_squared.sum()

In [20]:
sum_df_squared

species
proteinX    10160.50
proteinY     5891.15
proteinZ    85945.15
dtype: float64

In [21]:
sum_df_squared[0]

10160.5

In [22]:
sos = sum_df_squared[0] + sum_df_squared[1] + sum_df_squared[2]

In [23]:
sos

101996.79999999999