In [1]:
import pandas as pd

In [5]:
df = pd.read_table("three_genes_test_file3.tsv", delim_whitespace=True, header=0)
df = df[df['species'].isin(['proteinX', 'proteinY', 'proteinZ'])]
df = df[['time', 'species', 'transcript']]
df['time'] = df['time'].round().astype(int)
df = df.pivot(index='time', columns='species', values='transcript')
df = df.fillna(0.0)

/home/sahil/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [6]:
df.tail()

species  proteinX  proteinY  proteinZ
time
236          18.0      15.0      26.0
237          18.0      15.0      27.0
238          19.0      14.0      26.0
239          19.0      15.0      27.0
240          19.0      15.0      26.0

In [7]:
df1 = pd.read_table("random_data.tsv", delim_whitespace=True, header=0)
df1 = df1[df1['species'].isin(['proteinX', 'proteinY', 'proteinZ'])]
df1 = df1[['time', 'species', 'transcript']]
df1 = df1.pivot(index='time', columns='species', values='transcript')
df1 = df1.fillna(0.0)

/home/sahil/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [8]:
df1.tail()

species  proteinX  proteinY  proteinZ
time
236         59.00      45.0      15.0
237         59.25      45.0      15.0
238         59.50      45.0      15.0
239         59.75      45.0      15.0
240         60.00      45.0      15.0

In [23]:
df_diff = df1 - df

In [27]:
df_diff

species  proteinX  proteinY  proteinZ
time
1           -0.75      -0.7      -0.9
2           -0.50      -1.4      -0.8
3           -0.25      -1.1      -0.7
4            0.00      -1.8      -0.6
5            0.25      -2.5      -0.5
6            0.50      -2.2      -2.4
7            0.75      -1.9      -2.3
8            1.00      -1.6      -3.2
9            0.25      -1.3      -4.1
10           0.50      -1.0      -5.0
11           0.75      -0.7      -4.9
12           1.00      -1.4      -5.8
13           0.25      -2.1      -5.7
14           0.50      -1.8      -5.6
15           0.75      -1.5      -5.5
16           0.00      -1.2      -6.4
17           0.25      -0.9      -6.3
18           0.50      -0.6      -6.2
19           0.75      -1.3      -6.1
20           1.00      -1.0      -7.0
21           1.25      -1.7      -7.9
22           1.50      -1.4      -7.8
23           1.75      -1.1      -8.7
24           2.00      -1.8      -8.6
25           2.25      -1.5      -9.5
26           2.50      -1.2      -9.4
27           2.75      -0.9     -10.3
28           3.00      -0.6     -11.2
29           1.25      -0.3     -11.1
30           1.50       0.0     -11.0
...           ...       ...       ...
211         34.75      29.0     -11.0
212         36.00      28.0      -9.0
213         35.25      28.0     -10.0
214         35.50      28.0     -10.0
215         35.75      27.0     -10.0
216         36.00      27.0     -11.0
217         36.25      27.0     -11.0
218         36.50      30.0     -11.0
219         35.75      29.0     -11.0
220         36.00      28.0     -11.0
221         36.25      28.0     -11.0
222         36.50      28.0     -10.0
223         36.75      28.0     -10.0
224         37.00      28.0     -11.0
225         37.25      28.0     -11.0
226         37.50      28.0     -11.0
227         35.75      29.0     -11.0
228         35.00      29.0     -11.0
229         37.25      27.0     -10.0
230         37.50      27.0     -10.0
231         37.75      26.0      -9.0
232         38.00      27.0     -11.0
233         39.25      28.0     -11.0
234         40.50      30.0      -9.0
235         40.75      30.0     -11.0
236         41.00      30.0     -11.0
237         41.25      30.0     -12.0
238         40.50      31.0     -11.0
239         40.75      30.0     -12.0
240         41.00      30.0     -11.0

[240 rows x 3 columns]

In [28]:
df_squared = df_diff ** 2

In [29]:
df_squared

species   proteinX  proteinY  proteinZ
time
1           0.5625      0.49      0.81
2           0.2500      1.96      0.64
3           0.0625      1.21      0.49
4           0.0000      3.24      0.36
5           0.0625      6.25      0.25
6           0.2500      4.84      5.76
7           0.5625      3.61      5.29
8           1.0000      2.56     10.24
9           0.0625      1.69     16.81
10          0.2500      1.00     25.00
11          0.5625      0.49     24.01
12          1.0000      1.96     33.64
13          0.0625      4.41     32.49
14          0.2500      3.24     31.36
15          0.5625      2.25     30.25
16          0.0000      1.44     40.96
17          0.0625      0.81     39.69
18          0.2500      0.36     38.44
19          0.5625      1.69     37.21
20          1.0000      1.00     49.00
21          1.5625      2.89     62.41
22          2.2500      1.96     60.84
23          3.0625      1.21     75.69
24          4.0000      3.24     73.96
25          5.0625      2.25     90.25
26          6.2500      1.44     88.36
27          7.5625      0.81    106.09
28          9.0000      0.36    125.44
29          1.5625      0.09    123.21
30          2.2500      0.00    121.00
...            ...       ...       ...
211      1207.5625    841.00    121.00
212      1296.0000    784.00     81.00
213      1242.5625    784.00    100.00
214      1260.2500    784.00    100.00
215      1278.0625    729.00    100.00
216      1296.0000    729.00    121.00
217      1314.0625    729.00    121.00
218      1332.2500    900.00    121.00
219      1278.0625    841.00    121.00
220      1296.0000    784.00    121.00
221      1314.0625    784.00    121.00
222      1332.2500    784.00    100.00
223      1350.5625    784.00    100.00
224      1369.0000    784.00    121.00
225      1387.5625    784.00    121.00
226      1406.2500    784.00    121.00
227      1278.0625    841.00    121.00
228      1225.0000    841.00    121.00
229      1387.5625    729.00    100.00
230      1406.2500    729.00    100.00
231      1425.0625    676.00     81.00
232      1444.0000    729.00    121.00
233      1540.5625    784.00    121.00
234      1640.2500    900.00     81.00
235      1660.5625    900.00    121.00
236      1681.0000    900.00    121.00
237      1701.5625    900.00    144.00
238      1640.2500    961.00    121.00
239      1660.5625    900.00    144.00
240      1681.0000    900.00    121.00

[240 rows x 3 columns]

In [30]:
sum_df_squared = df_squared.sum()

In [31]:
sum_df_squared

species
proteinX    106825.50
proteinY    100463.35
proteinZ     40081.35
dtype: float64

In [35]:
sum_df_squared[0]

106825.5

In [36]:
sos = sum_df_squared[0] + sum_df_squared[1] + sum_df_squared[2]

In [37]:
sos

247370.2