In [1]:
import csv
import pandas as pd

In [3]:
target_name = input("Enter tsv file name: ")
target_file = pd.read_csv(target_name, header=0, sep='\t')
target_file = target_file[target_file['species'].isin(['proteinX', 'proteinY', 'proteinZ'])]
target_file = target_file[['time', 'species', 'transcript']]
target_file = target_file.pivot(index='time', columns='species', values='transcript')
target_file = target_file.fillna(0.0)

Enter tsv file name: random_data.tsv

In [15]:
target_file.head()

species  proteinX  proteinY  proteinZ
time
1            0.25       0.3       0.1
2            0.50       0.6       0.2
3            0.75       0.9       0.3
4            1.00       1.2       0.4
5            1.25       1.5       0.5

In [24]:
new_file = pd.read_csv('three_genes_replicated.tsv', header=0, sep='\t')
new_file = new_file[new_file['species'].isin(['proteinX', 'proteinY', 'proteinZ'])]
new_file = new_file[['time', 'species', 'transcript']]
new_file['time'] = new_file['time'].round().astype(int)
new_file = new_file.pivot(index='time', columns='species', values='transcript')
new_file = new_file.fillna(0.0)

In [26]:
new_file.head()

species  proteinX  proteinY  proteinZ
time
1             2.0       0.0       0.0
2             4.0       0.0       0.0
3             4.0       1.0       0.0
4             4.0       1.0       0.0
5             4.0       3.0       0.0

In [28]:
genome_tracker = pd.read_csv('gene_tracker.tsv', header=0, sep='\t')

In [29]:
genome_tracker['start'].values[0]

26

In [30]:
genome_tracker['current_strength'].values[10]

0.0

In [31]:
genome_tracker['value'].values[12] = 1.0

In [32]:
genome_tracker

        species  start  stop  current_strength  previous_strength  value
0         geneX     26   121               0.0                0.0    0.0
1         geneY    159   280               0.0                0.0    0.0
2         geneZ    319   449               0.0                0.0    0.0
3     promoter1      1    10               0.0                0.0    0.0
4     promoter2      0     0               0.0                0.0    0.0
5     promoter3      0     0               0.0                0.0    0.0
6        rnase1      0     0               0.0                0.0    0.0
7        rnase2      0     0               0.0                0.0    0.0
8        rnase3      0     0               0.0                0.0    0.0
9   terminator1      0     0               0.0                0.0    0.0
10  terminator2      0     0               0.0                0.0    0.0
11  terminator3      0     0               0.0                0.0    0.0
12        f_old      0     0               0.0                0.0    1.0
13        f_new      0     0               0.0                0.0    0.0
14      region1     11    25               0.0                0.0    0.0
15     region2a    122   132               0.0                0.0    0.0
16     region2b    133   143               0.0                0.0    0.0
17     region2c    144   159               0.0                0.0    0.0
18     region3a    281   291               0.0                0.0    0.0
19     region3b    292   302               0.0                0.0    0.0
20     region3c    303   318               0.0                0.0    0.0